1.a

In [5]:
a=(1,1,0,1,1,0,1,1)
b=(0,1,1,1,1,1,1,0)
c=(1,0,1,1,0,1,1,1)

#A and B
inter=0
union=0
for i in range(len(a)):
    if a[i]==b[i]:
        inter+=1
for i in range(len(a)):
    if a[i]==1 or b[i]==1:
        union+=1
jaccardDist=1-(inter/union)
print("Jaccard distance between A and B is ",jaccardDist)

#B and C
inter=0
union=0
for i in range(len(b)):
    if b[i]==c[i]:
        inter+=1
for i in range(len(b)):
    if b[i]==1 or c[i]==1:
        union+=1
jaccardDist=1-(inter/union)
print("Jaccard distance between B and C is ",jaccardDist)

#A and C
inter=0
union=0
for i in range(len(a)):
    if a[i]==c[i]:
        inter+=1
for i in range(len(a)):
    if a[i]==1 or c[i]==1:
        union+=1
jaccardDist=1-(inter/union)
print("Jaccard distance between A and C is ",jaccardDist)

Jaccard distance between A and B is  0.5
Jaccard distance between B and C is  0.5
Jaccard distance between A and C is  0.5

1.b

In [6]:
from math import sqrt

def dotProd(p,q):
    d=0
    for i in range(len(q)):
        d+=p[i]*q[i]
    return d

num=dotProd(a,b)
den=sqrt(dotProd(a,a)) * sqrt(dotProd(b,b))
print("The Cosine Distance between A and B is "+str(num/den))

num=dotProd(b,c)
den=sqrt(dotProd(b,b)) * sqrt(dotProd(c,c))
print("The Cosine Distance between B and C is "+str(num/den))

num=dotProd(a,c)
den=sqrt(dotProd(a,a)) * sqrt(dotProd(c,c))
print("The Cosine Distance between A and C is "+str(num/den))

The Cosine Distance between A and B is 0.6666666666666667
The Cosine Distance between B and C is 0.6666666666666667
The Cosine Distance between A and C is 0.6666666666666667

1.c

In [12]:
a=(1,1,0,1,0,0,1,0)
b=(0,1,1,1,0,0,0,0)
c=(0,0,0,1,0,1,1,1)

#A and B
inter=0
union=0
for i in range(len(a)):
    if a[i]==1 and a[i]==b[i]:
        inter+=1
for i in range(len(a)):
    if a[i]==1 or b[i]==1:
        union+=1
jaccardDist=1-(inter/union)
print("Jaccard distance between A and B is ",jaccardDist)

#B and C
inter=0
union=0
for i in range(len(b)):
    if b[i]==c[i]:
        inter+=1
for i in range(len(b)):
    if b[i]==1 or c[i]==1:
        union+=1
jaccardDist=1-(inter/union)
print("Jaccard distance between B and C is ",jaccardDist)

#A and C
inter=0
union=0
for i in range(len(a)):
    if a[i]==c[i]:
        inter+=1
for i in range(len(a)):
    if a[i]==1 or c[i]==1:
        union+=1
jaccardDist=1-(inter/union)
print("Jaccard distance between A and C is ",jaccardDist)

Jaccard distance between A and B is  0.6
Jaccard distance between B and C is  0.5
Jaccard distance between A and C is  0.33333333333333337

1.d

In [13]:
a=(1,1,0,1,0,0,1,0)
b=(0,1,1,1,0,0,0,0)
c=(0,0,0,1,0,1,1,1)

num=dotProd(a,b)
den=sqrt(dotProd(a,a)) * sqrt(dotProd(b,b))
print("The Cosine Distance between A and B is "+str(num/den))

num=dotProd(b,c)
den=sqrt(dotProd(b,b)) * sqrt(dotProd(c,c))
print("The Cosine Distance between B and C is "+str(num/den))

num=dotProd(a,c)
den=sqrt(dotProd(a,a)) * sqrt(dotProd(c,c))
print("The Cosine Distance between A and C is "+str(num/den))

The Cosine Distance between A and B is 0.5773502691896258
The Cosine Distance between B and C is 0.2886751345948129
The Cosine Distance between A and C is 0.5

1.e

In [16]:
a=[4,5,0,5,1,0,3,2]
b=[0,3,4,3,1,2,1,0]
c=[2,0,1,3,0,4,5,3]

def avg(a):
    total=0;
    for i in range(len(a)):
        total+=a[i]
    return total/len(a)

def normalize(a):
    avrg=avg(a)
    l=[]
    for i in a:
        if(i is not 0):
            l.append(i-avrg)
        else:
            l.append(0)
    print(l)
print("Normalized Matrix:")
normalize(a)
normalize(b)
normalize(c)

Normalized Matrix:
[1.5, 2.5, 0, 2.5, -1.5, 0, 0.5, -0.5]
[0, 1.25, 2.25, 1.25, -0.75, 0.25, -0.75, 0]
[-0.25, 0, -1.25, 0.75, 0, 1.75, 2.75, 0.75]

1.c

In [17]:
a=(1.5, 2.5, 0, 2.5, -1.5, 0, 0.5, -0.5)
b=(0, 1.25, 2.25, 1.25, -0.75, 0.25, -0.75, 0)
c=(-0.25, 0, -1.25, 0.75, 0, 1.75, 2.75, 0.75)

num=dotProd(a,b)
den=sqrt(dotProd(a,a)) * sqrt(dotProd(b,b))
print("The Cosine Distance between A and B is "+str(num/den))

num=dotProd(b,c)
den=sqrt(dotProd(b,b)) * sqrt(dotProd(c,c))
print("The Cosine Distance between B and C is "+str(num/den))

num=dotProd(a,c)
den=sqrt(dotProd(a,a)) * sqrt(dotProd(c,c))
print("The Cosine Distance between A and C is "+str(num/den))

The Cosine Distance between A and B is 0.5465040408511785
The Cosine Distance between B and C is -0.31256152042413066
The Cosine Distance between A and C is 0.16340829138365012

2

In [70]:
import pandas as pd
colnames1= ["UserID", "ItemID", "Rating", "Timestamp"]
colnames2 = ['MovieID', 'MovieTitle', 'ReleaseDate', 'VideoReleaseDate', 'IMDbURL', 'unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
data1=pd.read_csv('E:/Python Projects/ml-100k/data.csv', sep = ',',encoding='iso-8859-1', names = colnames1)
data2=pd.read_csv('E:/Python Projects/ml-100k/item.csv', sep = '|',encoding='iso-8859-1', names = colnames2)
movie_choice=pd.DataFrame(data2.loc[94,::])
print(movie_choice.head(n=10))
#data2.index+=1

                                                                 94
MovieID                                                          95
MovieTitle                                           Aladdin (1992)
ReleaseDate                                             01-Jan-1992
VideoReleaseDate                                                NaN
IMDbURL           http://us.imdb.com/M/title-exact?Aladdin%20(1992)
unknown                                                           0
Action                                                            0
Adventure                                                         0
Animation                                                         1
Children's                                                        1

In [47]:
data2.head()

,MovieID,MovieTitle,ReleaseDate,VideoReleaseDate,IMDbURL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [71]:
movies_index=data2.MovieID
genres=data2.columns
genres=genres[5:]
print(genres)
genre_values=data2.values
print(genre_values)

Index(['unknown', 'Action', 'Adventure', 'Animation', 'Children's', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
       'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
       'Western'],
      dtype='object')
[['1' 'Toy Story (1995)' '01-Jan-1995' ... 0.0 0.0 0.0]
 ['2' 'GoldenEye (1995)' '01-Jan-1995' ... 1.0 0.0 0.0]
 ['3' 'Four Rooms (1995)' '01-Jan-1995' ... 1.0 0.0 0.0]
 ...
 ['1680' 'Sliding Doors (1998)' '01-Jan-1998' ... 0.0 0.0 0.0]
 ['1681' 'You So Crazy (1994)' '01-Jan-1994' ... 0.0 0.0 0.0]
 ['1682' 'Scream of Stone (Schrei aus Stein) (1991)' '08-Mar-1996' ...
  0.0 0.0 0.0]]

In [72]:
dat200=pd.DataFrame(data1.loc[data1['UserID']==200])
user200_rating=dat200.Rating
user200_index=dat200.ItemID   
dat200.head(n=10)

      UserID  ItemID  Rating  Timestamp
12       200     222       5  876042340
189      200     673       5  884128554
243      200     318       5  884128458
326      200     304       5  876041644
367      200      96       5  884129409
503      200     365       5  884129962
692      200      11       5  884129542
1129     200     892       4  884127082
1285     200     588       5  884128499
1490     200     478       5  884128788

In [73]:
print(user200_index[0:10])

12      222
189     673
243     318
326     304
367      96
503     365
692      11
1129    892
1285    588
1490    478
Name: ItemID, dtype: int64

In [74]:
user200rkeys=list(user200_rating)
print(user200rkeys[7])

4

In [75]:
dat15=pd.DataFrame(data1.loc[data1['UserID']==15])
user15_rating=dat15.Rating
user15_index=dat15.ItemID
dat15.head(n=10)

      UserID  ItemID  Rating  Timestamp
206       15     405       2  879455957
642       15     749       1  879455311
708       15      25       3  879456204
1208      15     331       3  879455166
1365      15     222       3  879455730
2207      15     473       1  879456204
2241      15     678       1  879455311
2461      15     932       1  879456465
2464      15     127       2  879455505
2649      15     685       4  879456288

In [76]:
user15rkeys=list(user15_rating)
print(user15rkeys)

[2, 1, 3, 3, 3, 1, 1, 1, 2, 4, 3, 4, 1, 4, 2, 4, 2, 3, 3, 2, 5, 1, 2, 3, 4, 2, 4, 4, 1, 5, 4, 4, 1, 4, 1, 3, 2, 1, 1, 5, 2, 4, 1, 4, 1, 3, 5, 3, 2, 5, 1, 5, 1, 4, 5, 1, 2, 4, 5, 5, 1, 1, 4, 4, 3, 2, 4, 1, 4, 4, 1, 3, 4, 2, 1, 1, 5, 3, 5, 4, 3, 4, 3, 2, 1, 3, 4, 4, 4, 3, 4, 5, 3, 1, 4, 3, 3, 3, 2, 3, 3, 3, 2, 3]

In [95]:
def findRating(s1,user):
    l=[0]*18
    for i in s1:
        pos=0
        j=genre_values[i]
        j=j[5:]
        if user==1:
            index=0
            for i in j:
                i*=int(user200rkeys[index])
                index+=1
        else:
            index=0
            for i in j:
                i*=int(user15rkeys[index])
                index+=1
                
        for ind in j:
            l[pos]+=ind
            pos+=1
    avrg=avg(l)

    for i in range(18):
        l[i]/=avrg
        l[i]=round(l[i],2)
    return l
user200s=findRating(user200_index,1)
user15s=findRating(user15_index,2)
print("User 200's Ratings : "+str(user200s))
print("User 15's Ratings : "+str(user15s))
movie_to_rate=genre_values[95]
movie_to_rate=movie_to_rate[5:]

User 200's Ratings : [2.03, 1.18, 0.38, 0.8, 3.21, 0.55, 0.13, 3.13, 0.21, 0.13, 0.55, 0.46, 0.3, 1.18, 0.97, 1.61, 0.8, 0.38]
User 15's Ratings : [1.79, 0.9, 0.09, 0.99, 2.33, 0.81, 0.18, 4.3, 0.27, 0.18, 0.36, 0.18, 0.45, 1.34, 0.9, 2.24, 0.54, 0.18]

In [98]:
num=dotProd(user200s,movie_to_rate)
den=sqrt(dotProd(user200s,user200s)) * sqrt(dotProd(movie_to_rate,movie_to_rate))
print("The Cosine Distance between User200 and Movie Number 95 is "+str(num/den))

num=dotProd(user15s,movie_to_rate)
den=sqrt(dotProd(user15s,user15s)) * sqrt(dotProd(movie_to_rate,movie_to_rate))
print("The Cosine Distance between User15 and Movie Number 95 is "+str(num/den))

The Cosine Distance between User200 and Movie Number 95 is 0.46267094608955356
The Cosine Distance between User15 and Movie Number 95 is 0.1307266331069201

In [99]:
if user200_distance>user15_distance:
    print("User 200 is recommended to watch Alladin")
elif user200_distance<user15_distance:
    print("User 15 is recommended to watch Alladin")
else:
    print("Both user 200 and user 15 are recommended to watch Alladin")

User 200 is recommended to watch Alladin

3

In [103]:
speed_us=pd.DataFrame(data1.loc[data1['ItemID']==568])
print(speed_us.head(n=10))
speed_values=speed_us.values
users1=[]
for i in speed_values:
    if(i[2]>=2.5):
        users1.append(users1)
colnames3=["UserID","Age","Gender","Occupation","ZipCodes"]
age1=pd.read_csv('E:/Python Projects/ml-100k/user.csv', sep = '|',encoding='iso-8859-1', names = colnames3)
age1.index+=1
age1.head(n=10)

      UserID  ItemID  Rating  Timestamp
245      178     568       4  882826555
483      214     568       4  892668197
732      263     568       4  891299387
926       72     568       4  880037203
1290     110     568       3  886988449
1384     276     568       4  882659211
1558     290     568       3  880474716
1840     262     568       3  879794113
2864     311     568       5  884365325
3100     158     568       4  880134532

    UserID  Age Gender     Occupation ZipCodes
1        1   24      M     technician    85711
2        2   53      F          other    94043
3        3   23      M         writer    32067
4        4   24      M     technician    43537
5        5   33      F          other    15213
6        6   42      M      executive    98101
7        7   57      M  administrator    91344
8        8   36      M  administrator    05201
9        9   29      M        student    01002
10      10   53      M         lawyer    90703

In [104]:
age=age1.Age
age.head(10)
age=list(age)
age[5:10]

[42, 57, 36, 29, 53]

In [105]:
age15=[]
age20=[]
age30=[]
age40=[]
age50=[]
age60=[]

for i in age:
    if(i<20):
        age15.append(i)
    if(i>=20 and i<30):
        age20.append(i)
    if(i>=30 and i<40):
        age30.append(i)
    if(i>=40 and i<50):
        age40.append(i)
    if(i>=50 and i<60):
        age50.append(i)
    if(i>=60 and i<70):
        age60.append(i)
print("Number of users younger than 20 : ",len(age15))
print("Number of users aged 20-30 : ",len(age20))
print("Number of users aged 30-40 : ",len(age30))
print("Number of users aged 40-50 : ",len(age40))
print("Number of users aged 50-60 : ",len(age50))
print("Number of users aged 60 and above : ",len(age60))
print(len(age))

Number of users younger than 20 :  77
Number of users aged 20-30 :  332
Number of users aged 30-40 :  241
Number of users aged 40-50 :  168
Number of users aged 50-60 :  94
Number of users aged 60 and above :  27
943

In [107]:
id=[]
j=0
for i in age:
    j+=1
    if(i>=20 and i<30):
        id.append(j)
movie_id=[]
items=data1.values
for i in id:
    j=items[i]
    movie_id.append(j[0])
print(movie_id)

[186, 244, 166, 6, 200, 122, 167, 299, 308, 301, 225, 290, 157, 278, 276, 276, 287, 246, 242, 178, 251, 81, 25, 59, 87, 42, 201, 167, 223, 189, 246, 241, 178, 293, 299, 267, 145, 62, 135, 293, 216, 166, 265, 58, 62, 279, 72, 250, 224, 262, 250, 7, 299, 269, 299, 160, 259, 85, 213, 49, 43, 279, 80, 254, 279, 66, 7, 94, 26, 256, 72, 259, 52, 161, 83, 125, 299, 151, 269, 87, 294, 229, 178, 62, 207, 92, 301, 36, 63, 279, 194, 119, 66, 83, 214, 234, 181, 201, 85, 59, 286, 193, 219, 158, 302, 279, 301, 13, 1, 23, 95, 296, 16, 270, 145, 170, 184, 54, 112, 218, 133, 104, 63, 267, 240, 294, 18, 308, 191, 59, 61, 142, 275, 207, 272, 197, 234, 268, 180, 234, 38, 269, 52, 13, 236, 256, 83, 144, 301, 92, 222, 268, 213, 13, 5, 114, 128, 291, 250, 216, 13, 295, 269, 85, 137, 257, 111, 181, 189, 1, 214, 293, 96, 7, 269, 70, 221, 72, 25, 189, 299, 264, 184, 298, 235, 246, 54, 11, 307, 256, 94, 182, 254, 151, 181, 293, 197, 109, 192, 244, 21, 231, 279, 152, 217, 79, 308, 269, 13, 230, 239, 271, 10, 294, 279, 118, 245, 13, 276, 244, 62, 280, 13, 173, 244, 178, 117, 264, 246, 87, 256, 181, 292, 188, 90, 5, 8, 222, 165, 90, 263, 134, 286, 22, 234, 15, 268, 274, 7, 16, 164, 92, 234, 308, 192, 122, 85, 263, 201, 93, 276, 13, 146, 126, 125, 43, 268, 262, 234, 156, 232, 235, 77, 90, 44, 77, 58, 224, 272, 207, 194, 94, 181, 54, 92, 44, 1, 299, 94, 216, 254, 62, 268, 188, 158, 47, 10, 58, 194, 311, 254, 104, 90, 279, 286, 297, 230, 110, 83, 305, 279, 221, 150, 20, 181, 213, 215, 275, 68, 160, 224, 5, 99, 2, 85, 83, 7, 1, 24, 161, 56, 7]

In [110]:
movie1=genre_values[567]

movie1=movie1[5:]
print(movie1)
dist=[]
for i in movie_id:
    j=genre_values[i]
    j=j[5:]
    num=dotProd(movie1,j)
    den=sqrt(dotProd(j,j))*sqrt(dotProd(movie1,movie1))
    dist.append(round((num/den),2))
print(dist)

[0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0
 0.0]
[0.33, 0.58, 0.0, 0.0, 0.29, 0.0, 0.0, 0.82, 0.0, 0.29, 0.82, 0.41, 0.0, 0.0, 0.0, 0.0, 0.41, 0.33, 0.0, 0.0, 0.58, 0.33, 0.0, 0.0, 0.41, 0.41, 0.41, 0.0, 0.0, 0.0, 0.33, 0.0, 0.0, 0.0, 0.82, 0.41, 0.0, 0.0, 0.0, 0.0, 0.41, 0.0, 0.41, 0.0, 0.0, 0.41, 0.33, 0.0, 0.0, 0.58, 0.0, 0.0, 0.82, 0.33, 0.82, 0.82, 0.58, 0.0, 0.0, 0.52, 0.41, 0.41, 0.41, 0.41, 0.41, 0.0, 0.0, 0.0, 0.58, 0.29, 0.33, 0.58, 0.82, 0.0, 0.0, 0.0, 0.82, 0.0, 0.33, 0.41, 0.82, 0.33, 0.0, 0.0, 0.0, 0.0, 0.29, 0.0, 0.0, 0.41, 0.67, 0.0, 0.0, 0.0, 0.0, 0.29, 0.0, 0.41, 0.0, 0.0, 0.0, 0.0, 0.41, 0.41, 0.0, 0.41, 0.29, 0.41, 0.67, 0.33, 0.67, 0.0, 0.52, 0.29, 0.0, 0.0, 0.67, 0.58, 0.0, 0.0, 0.0, 0.0, 0.0, 0.41, 0.67, 0.82, 0.0, 0.0, 0.0, 0.0, 0.33, 0.0, 0.41, 0.0, 0.67, 0.58, 0.29, 0.0, 0.52, 0.29, 0.33, 0.33, 0.82, 0.41, 0.41, 0.29, 0.0, 0.67, 0.29, 0.0, 0.41, 0.0, 0.0, 0.41, 0.0, 0.0, 0.58, 0.0, 0.0, 0.41, 0.41, 0.0, 0.33, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.67, 0.0, 0.0, 0.0, 0.0, 0.33, 0.0, 0.33, 0.33, 0.0, 0.0, 0.82, 0.82, 0.67, 0.0, 0.0, 0.33, 0.58, 0.41, 0.0, 0.29, 0.0, 0.58, 0.41, 0.0, 0.0, 0.0, 0.58, 0.29, 0.0, 0.58, 0.33, 0.33, 0.41, 0.0, 0.58, 0.33, 0.0, 0.33, 0.41, 0.29, 0.0, 0.0, 0.41, 0.82, 0.41, 0.0, 0.41, 0.41, 0.0, 0.58, 0.0, 0.82, 0.41, 0.41, 0.58, 0.0, 0.67, 0.82, 0.33, 0.41, 0.29, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.41, 0.0, 0.0, 0.41, 0.29, 0.0, 0.41, 0.29, 0.41, 0.0, 0.41, 0.0, 0.52, 0.0, 0.0, 0.29, 0.0, 0.0, 0.0, 0.0, 0.41, 0.41, 0.0, 0.0, 0.41, 0.82, 0.33, 0.0, 0.41, 0.0, 0.58, 0.29, 0.0, 0.58, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.67, 0.0, 0.67, 0.0, 0.0, 0.58, 0.0, 0.0, 0.67, 0.82, 0.0, 0.41, 0.41, 0.0, 0.0, 0.0, 0.41, 0.0, 0.41, 0.0, 0.67, 0.0, 0.41, 0.0, 0.0, 0.41, 0.0, 0.67, 0.29, 0.41, 0.0, 0.41, 0.41, 0.33, 0.0, 0.52, 0.0, 0.0, 0.41, 0.41, 0.33, 0.82, 0.0, 0.0, 0.33, 0.58, 0.0, 0.0, 0.0, 0.67, 0.0, 0.0, 0.0, 0.0]

In [113]:
res = dist
# key = lambda sub: dist[sub])[-3:]
print(res)

[0.33, 0.58, 0.0, 0.0, 0.29, 0.0, 0.0, 0.82, 0.0, 0.29, 0.82, 0.41, 0.0, 0.0, 0.0, 0.0, 0.41, 0.33, 0.0, 0.0, 0.58, 0.33, 0.0, 0.0, 0.41, 0.41, 0.41, 0.0, 0.0, 0.0, 0.33, 0.0, 0.0, 0.0, 0.82, 0.41, 0.0, 0.0, 0.0, 0.0, 0.41, 0.0, 0.41, 0.0, 0.0, 0.41, 0.33, 0.0, 0.0, 0.58, 0.0, 0.0, 0.82, 0.33, 0.82, 0.82, 0.58, 0.0, 0.0, 0.52, 0.41, 0.41, 0.41, 0.41, 0.41, 0.0, 0.0, 0.0, 0.58, 0.29, 0.33, 0.58, 0.82, 0.0, 0.0, 0.0, 0.82, 0.0, 0.33, 0.41, 0.82, 0.33, 0.0, 0.0, 0.0, 0.0, 0.29, 0.0, 0.0, 0.41, 0.67, 0.0, 0.0, 0.0, 0.0, 0.29, 0.0, 0.41, 0.0, 0.0, 0.0, 0.0, 0.41, 0.41, 0.0, 0.41, 0.29, 0.41, 0.67, 0.33, 0.67, 0.0, 0.52, 0.29, 0.0, 0.0, 0.67, 0.58, 0.0, 0.0, 0.0, 0.0, 0.0, 0.41, 0.67, 0.82, 0.0, 0.0, 0.0, 0.0, 0.33, 0.0, 0.41, 0.0, 0.67, 0.58, 0.29, 0.0, 0.52, 0.29, 0.33, 0.33, 0.82, 0.41, 0.41, 0.29, 0.0, 0.67, 0.29, 0.0, 0.41, 0.0, 0.0, 0.41, 0.0, 0.0, 0.58, 0.0, 0.0, 0.41, 0.41, 0.0, 0.33, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.67, 0.0, 0.0, 0.0, 0.0, 0.33, 0.0, 0.33, 0.33, 0.0, 0.0, 0.82, 0.82, 0.67, 0.0, 0.0, 0.33, 0.58, 0.41, 0.0, 0.29, 0.0, 0.58, 0.41, 0.0, 0.0, 0.0, 0.58, 0.29, 0.0, 0.58, 0.33, 0.33, 0.41, 0.0, 0.58, 0.33, 0.0, 0.33, 0.41, 0.29, 0.0, 0.0, 0.41, 0.82, 0.41, 0.0, 0.41, 0.41, 0.0, 0.58, 0.0, 0.82, 0.41, 0.41, 0.58, 0.0, 0.67, 0.82, 0.33, 0.41, 0.29, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.41, 0.0, 0.0, 0.41, 0.29, 0.0, 0.41, 0.29, 0.41, 0.0, 0.41, 0.0, 0.52, 0.0, 0.0, 0.29, 0.0, 0.0, 0.0, 0.0, 0.41, 0.41, 0.0, 0.0, 0.41, 0.82, 0.33, 0.0, 0.41, 0.0, 0.58, 0.29, 0.0, 0.58, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.67, 0.0, 0.67, 0.0, 0.0, 0.58, 0.0, 0.0, 0.67, 0.82, 0.0, 0.41, 0.41, 0.0, 0.0, 0.0, 0.41, 0.0, 0.41, 0.0, 0.67, 0.0, 0.41, 0.0, 0.0, 0.41, 0.0, 0.67, 0.29, 0.41, 0.0, 0.41, 0.41, 0.33, 0.0, 0.52, 0.0, 0.0, 0.41, 0.41, 0.33, 0.82, 0.0, 0.0, 0.33, 0.58, 0.0, 0.0, 0.0, 0.67, 0.0, 0.0, 0.0, 0.0]

In [120]:
moviet=data2.values
max1=max(res)
for i in range(len(dist)):
    if(dist[i]==max1):
        j=moviet[i]
        print(j[1])

3 Ninjas: High Noon At Mega Mountain (1998)
Apt Pupil (1998)
As Good As It Gets (1997)
In the Name of the Father (1993)
Schindler's List (1993)
Everyone Says I Love You (1996)
Paradise Lost: The Child Murders at Robin Hood Hills (1996)
Mother (1996)
Murder at 1600 (1997)
Dante's Peak (1997)
Lost Highway (1997)
Crash (1996)
G.I. Jane (1997)
Cop Land (1997)
Conspiracy Theory (1997)
Desperate Measures (1998)
187 (1997)
Edge, The (1997)
Kiss the Girls (1997)